body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    margin: 0 !important;
}

.body {
    margin-left: 10px;
    margin-right: 10px;
}

.thumb {
    max-height: 150px;
}

.clickable {
    cursor: pointer;
    cursor: hand;
}

.wrap {
    display: inline-block !important;
}

.block {
    display: block !important;
}

.navbar {
    top: 0;
    left: 0;
    border-radius: 0 !important;
    -moz-border-radius:0 !important;
}

.hidden {
    display: none !important;
}

.centered {
    margin: 0px auto !important;
}
.fancybox-prev{
    left: -80px;
    width: 30px;
}

.fancybox-next {
    right: -80px;
    width: 30px;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.ntitle {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    font-size: 3em !important;
    padding-left: 5px;
    margin-top: 3px;
}

#mainIcon {
    max-height: 3em;
    max-width: 3em;
}

#mainIcon path {
    fill: white;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

#fileSelector {
    position: absolute;
    z-index: -1;
}

.vcentered {
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);*/
}

.hcentered {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
}

.gallery .segment {
    height:150;
    margin: 10px;
}

.fancyContent img {
    max-width: 700px !important;
    max-height: 500px !important;
}

.fancybox-skin {
    background-color: #F0F0F0;
}

#captionText {
    text-align: center;
}

.comment.submission {
    padding-top: 10px;
    display: block;
}

.comment.submission .text {
    width: 70%;
}

.comment.submission .button {
    width: 20%;
}

.blue-text {
    color: #009FDA !important;
}

a.blue-text:hover {
    color: #00BAFF !important;
}

.comment {
    padding-top: 10px;
}

.ui.comments {
    max-height: 90px;
    overflow-y: auto;
}

.deleteMedia.button {
    position: absolute;
    z-index: 10;
    display: none;
}

.deleteComment.icon:hover {
    color: #E75859 !important;
}

.mediaWrapper:hover .deleteMedia.button {
    display: block !important;
}

.comment:hover .deleteComment.icon {
    display: inline-block !important;
}

.uploadImage {
    padding-top: 10px;
}

.iconWrapper {
    width:20px;
}